# Gmail-account waarmee de aanmeldmail wordt verstuurd
EMAIL_USER=voorbeeld@gmail.com
# Gmail app-wachtwoord (geen gewoon wachtwoord)
EMAIL_PASS=app-wachtwoord
# Waar de aanmeldingen naartoe gaan (optioneel, standaard info@samenontzorgen.nl)
MAIL_TO=info@samenontzorgen.nl
